.blog_attachment {
    width: 100%;
    height: 100vh;
    background-image: url('../cssimages/bg2.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}