$maintextcolor:hsl(190, 11%, 42%);
$logosfont: 'Rubik Moonrocks', cursive;
$background: #FF4742;
$sectInfoColor: #800000;
$mainTextcolor:hsl(0, 0%, 0%);
$mainbtncolor:hsla(241, 67%, 52%, 0.94);
$mainMiddleParagraphColor:hsla(209, 100%, 49%, 0.94);
$mainbtnbgcolor:hsl(262, 89%, 51%);